<%# This is the login page to the create and edit posts %>
<%# Links to page showing all posts avaliable to edit => GET  ||  /gdangers(.:format)  ||  gdangers#show %>

<h1>Hello Lauren!</h1>
<h2>let's make some blog posts</h2>

<form id="for_lauren" action="/gdangers" method="get">

  <input type="password" name="edit_passcode">
  <br>
  <input form="for_lauren" type="submit" name="to_edit" id="to_edit" value="edit page">

</form>
