
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic');

* {
  font-family: Roboto Condensed, sans-serif;
  font-weight: 400;
}

nav a {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20;
  text-decoration: none;
  color: black;
  padding: 0 5;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 0 5;
}

aside {
  text-align: center;
  display: inline-block;
  float: left;
  width: 200px;
  margin: 0 20 0 0;
  padding: 5;
  border: 2px solid #5E75AB;
}

table {
  display: inline-block;
  padding: 5;
  margin: 10 50;
  text-align: center;
  width: 50%;
}

.content {
  margin-left: 20;
  font-size: 20;
}

em {
  font-style: italic;
}

a {
  font-style: italic;
  color: black;
  text-decoration: underline;
}

footer a {
  font-style: normal;
  color: black;
  text-decoration: underline;
}

nav a:hover {
  font-style: italic;
  text-decoration: underline;
  color: black;
  padding: 0 5;
}

#signature, h1, h2 {
  font-family: Covered By Your Grace, sans-serif;
}

.main {
  background-color: #B7C5E5;
  /*padding: 20 20;*/
}

.post_cube {
  color: white;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px;
  width: 250px;
  height: 250px;
}

.post_cube_bottom_text {
  -webkit-filter: saturate(40%);
  position: absolute;
  bottom: 0;
  text-align: center;
}

div {
  -webkit-filter: grayscale(100%);
}

div:hover {
  -webkit-filter: grayscale(0%);
}

header {
  background-color: #5E75AB;
  padding: 5 30 30 30;
  text-align: center;
}

footer {
  background-color: #5E75AB;
  padding: 30px;
}
